.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.responsive-gutters > [class*='col-'] {
  padding-right: 1px;
  padding-left: 1px;
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */
}
@media only screen and (min-width: 320px) {
  .responsive-gutters > [class*='col-'] {
    padding-left: 1px;
    padding-right: 1px;
  }
}
@media only screen and (min-width: 480px) {
  .responsive-gutters > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media only screen and (min-width: 768px) {
  .responsive-gutters > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media only screen and (min-width: 992px) {
  .responsive-gutters > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media only screen and (min-width: 1200px) {
  .responsive-gutters > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.container-sized {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'AkkuratLight';
  src: url('Akkurat-Light.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('Akkurat-Light.ttf') format('truetype');
  
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'AkkuratPro';
  src: url('AkkuratPro-Regular.otf') format('opentype');
}
body {
  background-color: lightgrey;
  height: 100%;
  font-family: "AkkuratLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.three-columns-two-rows {
  background-color: #FFFFFF;
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */
}
@media only screen and (min-width: 992px) {
  .three-columns-two-rows {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .three-columns-two-rows {
    font-size: 16px;
  }
}
.featured-insight .bottom-container {
  background-color: #d6e7f1;
}
.featured-insight .secondary-display-control-container {
  background-color: #d6e7f1;
}
@media (max-width: 480px) {
  .featured-insight .secondary-display-control-container-collapsed {
    background-color: #d6e7f1;
  }
}
.featured-insight .secondary-display-list-container {
  background-color: #d6e7f1;
}
.featured-video .bottom-container {
  background-color: #dedede;
}
.featured-video .secondary-display-control-container {
  background-color: #dedede;
}
@media (max-width: 480px) {
  .featured-video .secondary-display-control-container-collapsed {
    background-color: #dedede;
  }
}
.featured-video .secondary-display-list-container {
  background-color: #dedede;
}
.featured-literature .bottom-container {
  background-color: #c0d1e6;
}
.featured-literature .secondary-display-control-container {
  background-color: #c0d1e6;
}
@media (max-width: 480px) {
  .featured-literature .secondary-display-control-container-collapsed {
    background-color: #c0d1e6;
  }
}
.featured-literature .secondary-display-list-container {
  background-color: #c0d1e6;
}
.action-link {
  float: right;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: .875em;
}
.box-container {
  max-height: 370px;
  min-height: 180px;
  position: relative;
  width: 100%;
  /* Extra Small Devices, Phones */
  /* Large Devices, Wide Screens */
}
.box-container .banner {
  background-color: #CCCCCC;
  padding-left: 15px;
}
.box-container .banner > p {
  text-transform: uppercase;
  line-height: 1.5;
  color: #FFFFFF;
}
.box-container h2 {
  text-transform: uppercase;
  font-size: 1.85em;
}
@media only screen and (min-width: 1200px) {
  .box-container {
    min-height: 370px;
    margin-top: 0;
  }
}
.box-container .action-link-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  clear: both;
  left: 1px;
}
.background-image-container .banner {
  background-color: transparent;
  margin-left: -10px;
}
.background-image-container .banner p {
  color: #b0b0b0;
}
@media only screen and (min-width: 320px) {
  .background-image-container {
    background: #dedede none;
  }
}
@media only screen and (min-width: 1200px) {
  .background-image-container .message {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: rgba(2, 0, 49, 0.5);
    padding-left: 15px;
    padding-right: 15px;
  }
  .background-image-container .message h1.message-text {
    font-family: "AkkuratPro", "Helvetica Neue", Helvetica, Arial;
    color: #FFFFFF;
    font-size: 1.5em;
  }
  .background-image-container .message p.message-text {
    font-size: 0.875em;
    color: #666666;
  }
}
.ceo-container {
  max-height: 370px;
  min-height: 180px;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  /* Extra Small Devices, Phones */
  /* Large Devices, Wide Screens */
}
@media only screen and (min-width: 1200px) {
  .ceo-container {
    background: url("/img/ceo.jpg") no-repeat;
    background-size: 100% 100%;
    position: relative;
    min-height: 370px;
    margin-top: 0;
  }
}
.careers-container {
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 1200px) {
  .careers-container {
    background: url("/img/interviews2.jpg") no-repeat;
    background-size: 100% 100%;
  }
  .careers-container .message {
    background-color: rgba(100, 100, 100, 0.5);
  }
}
.strategies-container {
  /* Extra Small Devices, Phones */
  margin-top: 15px;
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
}
@media only screen and (min-width: 992px) {
  .strategies-container {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .strategies-container {
    margin-top: 0;
  }
}
.feature {
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */
}
.feature h1 {
  text-transform: uppercase;
  color: #21314D;
  font-size: 1.5em;
  line-height: 1.2px;
  display: inline;
}
.feature h2 {
  color: #21314d;
  text-align: right;
  font-size: 0.875em;
}
.feature p {
  color: #666666;
  font-size: 0.875em;
}
@media only screen and (min-width: 1200px) {
  .feature h1 {
    font-size: 1.5em;
    line-height: 1.2px;
  }
  .feature h2 {
    font-size: 0.875em;
  }
  .feature p {
    font-size: 0.875em;
  }
}
