.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.responsive-gutters > [class*='col-'] {
  padding-right: 1px;
  padding-left: 1px;
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */
}
@media only screen and (min-width: 320px) {
  .responsive-gutters > [class*='col-'] {
    padding-left: 1px;
    padding-right: 1px;
  }
}
@media only screen and (min-width: 480px) {
  .responsive-gutters > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media only screen and (min-width: 768px) {
  .responsive-gutters > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media only screen and (min-width: 992px) {
  .responsive-gutters > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media only screen and (min-width: 1200px) {
  .responsive-gutters > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.col-centered {
  float: none;
  margin: 0 auto;
}
@font-face {
  font-family: 'AkkuratLight';
  src: url('Akkurat-Light.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('Akkurat-Light.ttf') format('truetype');
  
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
body {
  background-color: lightgrey;
  height: 100%;
  font-family: "AkkuratLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.three-columns-two-rows {
  background-color: #FFFFFF;
  font-size: 10px;
  /*max-width: 1202px;*/
}
.featured-insight .bottom-container {
  background-color: #d6e7f1;
  min-height: 180px;
}
@media (min-width: 481px) and (max-width: 1199px) {
  .featured-insight .bottom-container {
    margin-left: -30px;
  }
}
.featured-insight .secondary-display-control-container {
  background-color: #d6e7f1;
}
.featured-insight .secondary-display-list-container {
  background-color: #d6e7f1;
}
.featured-video .bottom-container {
  background-color: #dedede;
  min-height: 180px;
}
@media (min-width: 481px) and (max-width: 1199px) {
  .featured-video .bottom-container {
    margin-left: -30px;
  }
}
.featured-video .secondary-display-control-container {
  background-color: #dedede;
}
.featured-video .secondary-display-list-container {
  background-color: #dedede;
}
.featured-literature .bottom-container {
  background-color: #c0d1e6;
  min-height: 180px;
}
@media (min-width: 481px) and (max-width: 1199px) {
  .featured-literature .bottom-container {
    margin-left: -30px;
  }
}
.featured-literature .secondary-display-control-container {
  background-color: #c0d1e6;
}
.featured-literature .secondary-display-list-container {
  background-color: #c0d1e6;
}
