@import "../bootstrap3/less/variables.less";
@import "utility";

@golden-ratio: 1.61803;

@font-face {
    font-family: 'AkkuratLight';
    src: url('Akkurat-Light.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('Akkurat-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    background-color: lightgrey;
    height: 100%;
    font-family: "AkkuratLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.three-columns-two-rows {
    background-color: #FFFFFF;
    //padding: 10px;
    font-size: 10px;

    /*max-width: 1202px;*/
}

.featured-insight {
    .feature(#D6E7F1);
}

.featured-video {
    .feature(#DEDEDE);
}


.featured-literature {
    .feature(#C0D1E6);
}


//MIXINS
.feature(@color) {
    .bottom-container {
        background-color: @color;
        min-height: 180px;
        @media (min-width: 481px) and (max-width: 1199px) {
            margin-left: -30px;
        }
    }


    .secondary-display-control-container {
        background-color: @color;
    }
    .secondary-display-control-container-collapsed {

    }

    .secondary-display-list-container {
        background-color: @color;
    }

}



