@import "../bootstrap3/less/variables";
@import "utility";

.split-box {
    background-color: #696969;
    max-height: 370px;


    .top {
        @media (min-width: 768px) and (max-width: 1199px){
            //no gutters
            padding-right: 0;

        }
    }

    .bottom {
        @media (min-width: 768px) and (max-width: 1199px){
            padding-left: 0;
        }
    }
    .bottom-container {
        min-height: 180px;
        max-height: 180px;
        div.text {
            line-height: 1em;
            height: 5em;    //exactly five lines
            display: inline-block;
            //overflow: hidden;
            //text-overflow: ellipsis;
            //white-space: pre-line;
            //word-break: keep-all;
            //word-break: break-all;
            //hyphens: auto;

        }

        padding-left: 5px;
        padding-right: 5px;

    }

    .top {

        max-height: 180px;
        .image-container {
            height: auto;
            @media (max-width: 1199px){

            }
        }


        img {
            max-height: 180px;
            min-height: 180px;
            height: 100%;
            width: 100%;
        }

        iframe {
            max-height: 180px;
            min-height: 180px;
            height: 100%;
            width: 100%;
        }

        .module-label {
            position: absolute;
            bottom: 0;

            z-index: 9;     //this is 1 less than the secondary display

            h6 {
                text-transform: uppercase;
                font-weight: bold;
                background-color: #3399FF;
                opacity: 0.8;
                color: #FFFFFF;
            }
        }
    }


    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
        .action-link-container {
            position: absolute;
            bottom: 0;
            width: 100%;
            clear: both;
            left: 14px;
        }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
        //margin-bottom: 15px;
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

        .bottom-container {
            min-height: 180px;
        }



    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .top {
            img {
                width: 100%;
            }
        }

        .action-link-container {
            //left: 0;
        }
    }

}

.secondary-display-container {
    //margin-top: 5px;
    text-align: center;
}

.secondary-display-controls {
    //This is the height of the secondary-display-container

    .secondary-display-control {

        /* Custom, iPhone Retina */
        @media only screen and (min-width : 320px) {

        }

        /* Extra Small Devices, Phones */
        @media only screen and (min-width : 480px) {

        }

        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {

        }

        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {

        }

        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {

        }


        @media only screen and (min-width: 480px) and (max-width: 992px) {

        }

        .btn-responsive {
            padding: 0;
        }

        .secondary-display-control-container-collapsed {
            //border-bottom: 1px solid black;
        }

        .secondary-display-control-container {

        }

    }

    /* Custom, iPhone Retina */
    position: relative;
    @media only screen and (min-width : 320px) {
        margin-top: -20px;
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        //Should be equal to the gutter space
        margin-top: 0;
        margin-bottom: -20px;       //this moves the control up so that it doesn't take up extra space
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

}

.secondary-display-content {
    position: absolute;
    z-index: 10;
    width: 100%;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
            border-top: 1px #FFFFFF solid;

        }
    }
    .secondary-display-list-container {
        //background-color: #D6E7F1;      //this should be customized for each list
        /* Custom, iPhone Retina */
        @media only screen and (min-width : 320px) {

        }

        /* Extra Small Devices, Phones */
        @media only screen and (min-width : 480px) {

        }

        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {

        }

        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {

        }

        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {

        }

        ul > li {
            @media (max-width: 768px){
                padding: 5px;
            }

        }


    }
}
.secondary-display {
    z-index: 10;
    background-color: #FFFFFF;
    margin-top: 10px;


    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

}
