@import "../bootstrap3/less/variables";
@import "utility";

.split-box {
    background-color: #696969;
    max-height: 370px;

    .top {
        img {
            max-height: 180px;
            height: 100%;
        }

        .module-label {
            position: absolute;
            top: 157px;
            z-index: 10;

            h6 {
                text-transform: uppercase;
                font-weight: bold;
                background-color: #3399FF;
                opacity: 0.8;
                color: #FFFFFF;
            }
        }
    }


    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
        //margin-bottom: 15px;
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

        .bottom {
            min-height: 180px;
        }

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

}

.secondary-display-controls {


    .secondary-display-control {


        /* Custom, iPhone Retina */
        @media only screen and (min-width : 320px) {

        }

        /* Extra Small Devices, Phones */
        @media only screen and (min-width : 480px) {

        }

        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {

        }

        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {
            top: 0;
        }

        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {

        }


        @media only screen and (min-width: 480px) and (max-width: 992px) {

        }

        .btn-responsive {
            padding: 0;
        }


    }

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        top: 0;
        margin-top: 0;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

}

.secondary-display-content {
    position: absolute;
    z-index: 10;
    width: 100%;


    ul {

        list-style: none;
        padding: 0;
        margin: 0;
        > li {
            border-top: 1px #FFFFFF solid;

        }
    }
    .secondary-display-list-container {
        background-color: #D6E7F1;      //this should be customized for each list
        /* Custom, iPhone Retina */
        @media only screen and (min-width : 320px) {

        }

        /* Extra Small Devices, Phones */
        @media only screen and (min-width : 480px) {

        }

        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {

        }

        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {

        }

        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {

        }
        //margin-left: -8px;
        //margin-right: -8px;
    }
}
.secondary-display {
    z-index: 10;
    background-color: #FFFFFF;
    margin-top: 10px;


    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

}
