@import "../bootstrap3/less/variables";
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/*.responsive-gutters > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;

}*/

/*.responsive-gutters-mixin() {

}

.gutter(@class: screen; @padding: 5px){
  @media(min-width: @screen-@class-)
}
.gutter-bottom-lg > [class*='col-'] {
  @media(min-width: @screen-lg-min){
    padding: 5px;
  }
}*/


.make-responsive-gutters(@class){
  
}