<div class="col-xs-12">
    <div class="row secondary-display-control">
        <div class="col-xs-12" style="text-align: center;">
            <a href="" class="btn btn-link btn-responsive" ng-click="collapse = !collapse">
                <span class="glyphicon" ng-class="{'glyphicon-chevron-down': collapse, 'glyphicon-chevron-up': !collapse}"></span>
            </a>
        </div>
    </div>
    <div class="row secondary-display-content" collapse="collapse">
        <div class="col-xs-12">
            <div class="secondary-display-list-container">
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-sm-4 hidden-xs hidden-ms">
                                <img class="img-responsive" src="http://placekitten.com/370/180"/>
                            </div>
                            <div class="col-sm-8 col-ms-12 col-xs-12">
                                Some kitten
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-4 hidden-xs hidden-ms">
                                <img class="img-responsive" src="http://placekitten.com/370/180"/>
                            </div>
                            <div class="col-sm-8 col-ms-12 col-xs-12">
                                Some kitten
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>