<div class="col-xs-12">
    <div class="row secondary-display-control">
        <div class="col-xs-12" style="text-align: center;">
            <a href="" class="btn btn-link btn-responsive" ng-click="collapse = !collapse">
                <span class="glyphicon" ng-class="{'glyphicon-chevron-down': collapse, 'glyphicon-chevron-up': !collapse}"></span>
            </a>
        </div>
    </div>
    <div class="row secondary-display-content" collapse="collapse">
        <div class="col-xs-12">
            <ul>
                <li>Test</li>
                <li>Some items</li>
            </ul>
        </div>
    </div>
</div>