<div class="col-xs-12">
    <div class="row secondary-display-control">
        <div class="col-xs-12" style="text-align: center;">
            <a href="" class="btn btn-link btn-lg" ng-click="collapse = !collapse">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </div>
    </div>
    <div class="row secondary-display-content" collapse="collapse">
        <div class="col-xs-12">
            <ul>
                <li>Test</li>
            </ul>
        </div>
    </div>
</div>