<div class="top row">
    <div class="col-xs-12 hidden-xs hidden-ms hidden-sm">
        <img class="container-sized img-responsive"  ng-src="{{ img }}"/>
    </div>
</div>
<div class="bottom row">
    <div class="bottom-left hidden-lg hidden-md hidden-xs col-xs-4">
        <!-- lower left image -->
       <img class="container-sized img-responsive"  ng-src="{{ img }}"/>
    </div>
    <div class="bottom-right col-xs-8 col-md-12">
        <h3 class="feature type">{{ type }}</h3>
        <h5 class="feature title">{{ title }}</h5>
        <p class="feature text">{{ text }}</p>
        <span class="pull-right feature read-more">
            Read more &gt
        </span>
    </div>
</div>
<div class="controls row">
    <div class="col-xs-12">
        <div style="width: 40px; margin: 0 auto;">
            <a href="#">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </div>
    </div>
</div>

