<div class="row">
    <div class="col-ms-4 col-sm-4 col-md-5 col-lg-12 col-ms-2 hidden-xs top">
        <img class="container-sized img-responsive"  ng-src="{{ img }}"/>
        <div class="module-label">
            <h6>{{type}}</h6>
        </div>
    </div>
    <div class="col-ms-8 col-sm-8 col-md-7 col-lg-12 bottom">
        <div class="bottom-container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="feature title">{{ title }}</h3>
                    <p class="feature text">{{ text }}</p>
                </div>
            </div>
            <div class="row action-link-container">
                <div class="col-xs-4 pull-right" >
                    <a class="action-link" href="">Action link &gt;</a>
                </div>
            </div>
        </div>
    </div>
</div>